body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #7c2d2d;
    color: #fff;
    text-align: center;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7c2d2d;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin: 80px 0;
}

.table {
    text-align: center;
}

.table th {
    background-color: #7c2d2d;
    color: white;
}

#table-skeleton {
    text-align: center;
}

.disabled-row td {
    color: gray
}

.btn {
    margin: 0 3px;
}

.alert {
    z-index: 2000;
}